<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TomTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Abattuta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Tschindarassa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <TomTime.Properties.Settings>
            <setting name="XPos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BarTime" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="BarSeperators" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotkeyStartKeycode" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="HotkeyStartShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyStartControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyStartAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyStartWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseKeycode" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="HotkeyPauseShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyPauseAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideKeycode" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="HotkeyHideControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyHideShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BlinkingColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Blinking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeToBlink" serializeAs="String">
                <value>3000</value>
            </setting>
        </TomTime.Properties.Settings>
        <Abattuta.Properties.Settings>
            <setting name="XPos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BarTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="BarSeperators" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotkeyStartKeycode" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="HotkeyStartShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyStartControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyStartAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyStartWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseKeycode" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="HotkeyPauseShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyPauseAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideKeycode" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="HotkeyHideControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyHideShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>30</value>
            </setting>
        </Abattuta.Properties.Settings>
        <Tschindarassa.Properties.Settings>
            <setting name="XPos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BarTime" serializeAs="String">
                <value>241000</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="BarSeperators" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotkeyStartKeycode" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="HotkeyStartShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyStartControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyStartAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyStartWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseKeycode" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="HotkeyPauseShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyPauseAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyPauseControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideKeycode" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="HotkeyHideControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyHideShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyHideWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>30</value>
            </setting>
        </Tschindarassa.Properties.Settings>
    </userSettings>
</configuration>
